@model IEnumerable<PersonnelSystem.Models.Contract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("FindContract", "FindContract")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SignTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RenewCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProbationarySalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficialSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th></th>
    </tr>

    @foreach (PersonnelSystem.Models.Contract item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SignTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RenewCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProbationarySalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficialSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ContractId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ContractId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ContractId })
            </td>
        </tr>
    }

</table>