@model IEnumerable<PersonnelSystem.Models.Contract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @Html.ActionLink("Create New", "Create")
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="input-group">
            <input type="text" class="form-control form_text" placeholder="Search By EmployeeId...">
            <span class="input-group-btn">
                <button id="sub" class="btn btn-default" type="button">Search</button>
            </span>
        </div>
    </div>
</div><br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SignTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RenewCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProbationarySalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficialSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th></th>
    </tr>

    @foreach (PersonnelSystem.Models.Contract item in ViewBag.Contract != null ? ViewBag.Contract : Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SignTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RenewCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProbationarySalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficialSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ContractId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ContractId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ContractId })
            </td>
        </tr>
    }

</table>


<script src="/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#sub").bind("click", function () {
            $(function () {
                $('#sub').click(function () {
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:5276/Contract/FindContract",
                        data: { employeeId: $(".form_text").val() },
                        dataType: "json",
                        error: function () {
                            alert('smx失败 ');
                        },
                        success: function (data) {
                            alert(data)
                        }
                    });
                });
            });
        });
    });

</script>
