@model IEnumerable<PersonnelSystem.Models.Contract>

@{
    ViewBag.Title = "Index";
}


<br />
<div class="row">
    <div class="col-lg-6 col-lg-offset-5">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" onclick="window.location.href = 'Create'">Create</button>
            <button type="button" class="btn btn-default" onclick="window.location.href = 'FindWage'">Find</button>
        </div>
    </div>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SignTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RenewCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProbationarySalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficialSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th></th>
    </tr>

    @foreach (PersonnelSystem.Models.Contract item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SignTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RenewCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProbationarySalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficialSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                <span class="label label-info">@Html.ActionLink("Edit", "Edit", new { id = item.ContractId })</span>
                <span class="label label-info">@Html.ActionLink("Details", "Details", new { id = item.ContractId })</span>
                <span class="label label-danger">@Html.ActionLink("Delete", "Delete", new { id = item.ContractId })</span>
            </td>
        </tr>
    }

</table>


<div>
    <nav aria-label="...">
        <ul class="pagination">
            <li><a href="@ViewBag.page_head">Head</a></li>
            <li>
                <a href="@ViewBag.page_pre" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int page = ViewBag.page_nav_start; page < ViewBag.page_nav_start + ViewBag.page_nav; page++)
            {
                if (page == ViewBag.page_now)
                {
                    <li class="active"><a href="@ViewBag.path@page">@page<span class="sr-only">(current)</span></a></li>
                }
                else if (page < ViewBag.page_total)
                {
                    <li><a href="@ViewBag.path@page">@page</a></li>
                }

                if (page == ViewBag.page_nav_start + ViewBag.page_nav - 1 && page < ViewBag.page_total)
                {
                    <li><a href="#">…</a></li>
                }
            }
            <li>
                <a href="@ViewBag.page_next" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li><a href="@ViewBag.page_tail">Tail</a></li>
        </ul>
    </nav>
</div>