@model IEnumerable<PersonnelSystem.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<br />
<div class="row">
    <div class="col-lg-6 col-lg-offset-5">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" onclick="window.location.href = 'Create'">Create</button>
            <button type="button" class="btn btn-default" onclick="window.location.href = 'FindEmployee'">Find</button>
        </div>
    </div>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateIntoCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QQ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position.Position1)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateIntoCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QQ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.School)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.Position1)
            </td>
            <td>
                <span class="label label-info">@Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId })</span>
                <span class="label label-info">@Html.ActionLink("Details", "Details", new { id = item.EmployeeId })</span>
                <span class="label label-danger">@Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })</span>
            </td>
        </tr>
    }

</table>

<div>
    <nav aria-label="...">
        <ul class="pagination">
            <li><a href="@ViewBag.page_head">Head</a></li>
            <li>
                <a href="@ViewBag.page_pre" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int page = ViewBag.page_nav_start; page < ViewBag.page_nav_start + ViewBag.page_nav; page++)
            {
                if (page == ViewBag.page_now)
                {
                    <li class="active"><a href="@ViewBag.path@page">@page<span class="sr-only">(current)</span></a></li>
                }
                else if (page < ViewBag.page_total)
                {
                    <li><a href="@ViewBag.path@page">@page</a></li>
                }

                if (page == ViewBag.page_nav_start + ViewBag.page_nav - 1 && page < ViewBag.page_total)
                {
                    <li><a href="#">…</a></li>
                }
            }
            <li>
                <a href="@ViewBag.page_next" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li><a href="@ViewBag.page_tail">Tail</a></li>
        </ul>
    </nav>
</div>
