@model IEnumerable<PersonnelSystem.Models.Position>

@{
    ViewBag.Title = "Index";
}


<br />
<div class="row">
    <div class="col-lg-6 col-lg-offset-5">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" onclick="window.location.href = 'Create'">Create</button>
            <button type="button" class="btn btn-default" onclick="window.location.href = 'FindWage'">Find</button>
        </div>
    </div>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Position1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                <span class="label label-info">@Html.ActionLink("Edit", "Edit", new { id = item.PositionId })</span>
                <span class="label label-info">@Html.ActionLink("Details", "Details", new { id = item.PositionId })</span>
                <span class="label label-danger">@Html.ActionLink("Delete", "Delete", new { id = item.PositionId })</span>
            </td>
        </tr>
    }

</table>
