@model IEnumerable<PersonnelSystem.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccruedCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendedCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseRemark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccruedCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttendedCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseRemark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseCode })
        </td>
    </tr>
}

</table>
